<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <style>
    </style>
</head>
<body >
<div id="chartDisp" style="width: 10%; height: 60%;"></div>
<script type="text/javascript">
	  /*
	    Use D3 to load the GeoJSON file
	    */
	    

		d3.json("http://localhost:8080/world_data", function (error, geo_data) {
        "use strict";
        var margin = 75,
            width = 1000 - margin,
            height = 500 - margin;

        var svg = d3.select("#chartDisp")
            .append("svg")
            .attr("width", width + margin)
            .attr("height", height + margin)
            .append('g')
            .attr('class', 'map');

        var projection = d3.geo.mercator()
                               .scale(150)
                               .translate( [width / 2, height / 1.5]);

        var path = d3.geo.path().projection(projection);

        var map = svg.selectAll('path')
                     .data(geo_data.features)
                     .enter()
                     .append('path')
                     .attr('d', path)
		     .attr('class',function(d){return d['id']})
                     .style('fill', 'lightBlue')
                     .style('stroke', 'black')
                     .style('stroke-width', 0.5);

	d3.json("http://localhost:8080/geoloc",function(error, data){
		//data = [{"Id":"IND","CountryName":"IND","Count":4498},{"Id":"JPN","CountryName":"JPN","Count":2433},{"Id":"KOR","CountryName":"KOR","Count":2301},] ;
		var opac=d3.scale.linear()
				.domain([1,4498])
				.range([0.1,1])
		for(var i=0;i<data.length;i++){
			//console.log(data[i]['CountryId'])
			d3.select("."+data[i]['CountryId'])
				.style('fill',"red")
				.style('opacity',opac(+data[i]['Count']))
		}
		for(var i=0;i<data.length;i++){
			d3.select('tooltip', function (data) {
			   var tip = data[i]['CountryId'] +data[i]['Count'];
      		   return tip;})
		}
	})
      }
);

	  </script>
</body>
</html>